<div>
  <h2>{{name}}</h2>
  <div class="info-container">
    <img src={{flag}} alt="country flag" width="320">
    <ul>
      <li>Capital:{{capital}}</li>
      <li>Population:{{population}}</li>
      <li>Languages:
        <ul>
          {{#each languages}}
          <li>{{this.name}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>